CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.cache/
*.o
*.a
*.so
*.efi
*.fd
*.img
*.debug
build/
**/build/
*.pc
/efi/.cache/clangd/index
/efi/.cache/clangd/index
/efi/.cache/clangd/index
